@tailwind base;
@tailwind components;
@tailwind utilities;

@container (max-width: 120px) {
  .table-col-120 {
    display: none;
  }
}
@container (max-width: 240px) {
  .table-col-240 {
    display: none;
  }
}
@container (max-width: 360px) {
  .table-col-360 {
    column-span: span 8 / span 8;
    display: none;
  }
}
